In [29]:
import pandas as pd 
import tkinter as tk
import warnings
warnings.filterwarnings('ignore')                     
import numpy as np

In [17]:
anime=pd.read_csv('C:/Users/roshn/Downloads/Codeclause_2/anime.csv')
ratings=pd.read_csv('C:/Users/roshn/Downloads/Codeclause_2/rating.csv')

In [9]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [10]:
anime.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [13]:
ratings.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [14]:
ratings.describe()

            user_id      anime_id        rating
count  7.813737e+06  7.813737e+06  7.813737e+06
mean   3.672796e+04  8.909072e+03  6.144030e+00
std    2.099795e+04  8.883950e+03  3.727800e+00
min    1.000000e+00  1.000000e+00 -1.000000e+00
25%    1.897400e+04  1.240000e+03  6.000000e+00
50%    3.679100e+04  6.213000e+03  7.000000e+00
75%    5.475700e+04  1.409300e+04  9.000000e+00
max    7.351600e+04  3.451900e+04  1.000000e+01

In [33]:
anime.shape

(12294, 7)

In [71]:
movies = anime.merge(ratings,on='anime_id')

In [73]:
movies.head(1)

,anime_id,name,genre,type,episodes,rating_x,members,user_id,rating_y
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5

In [74]:
movies.shape

(7813727, 9)

In [75]:
new = movies.drop(columns=['rating_x','user_id', 'rating_y'])
type(new)

pandas.core.frame.DataFrame

In [76]:
new.head(5)

,anime_id,name,genre,type,episodes,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630

In [94]:
new=new.drop_duplicates()
new.head

<bound method NDFrame.head of          anime_id                                               name  \
0           32281                                     Kimi no Na wa.
2199         5114                   Fullmetal Alchemist: Brotherhood
26773       28977                                           Gintama°
28159        9253                                        Steins;Gate
47442        9969                                      Gintama&#039;
...           ...                                                ...
7813710      9316       Toushindai My Lover: Minami tai Mecha-Minami
7813714      5543                                        Under World
7813718      5621                     Violence Gekiga David no Hoshi
7813721      6133  Violence Gekiga Shin David no Hoshi: Inma Dens...
7813725     26081                   Yasuji no Pornorama: Yacchimae!!

                                                     genre   type episodes  \
0                     Drama, Romance, School, Supernatural  Movie        1
2199     Action, Adventure, Drama, Fantasy, Magic, Mili...     TV       64
26773    Action, Comedy, Historical, Parody, Samurai, S...     TV       51
28159                                     Sci-Fi, Thriller     TV       24
47442    Action, Comedy, Historical, Parody, Samurai, S...     TV       51
...                                                    ...    ...      ...
7813710                                             Hentai    OVA        1
7813714                                             Hentai    OVA        1
7813718                                             Hentai    OVA        4
7813721                                             Hentai    OVA        1
7813725                                             Hentai  Movie        1

         members                                               tags
0         200630          Drama, Romance, School, SupernaturalMovie
2199      793665  Action, Adventure, Drama, Fantasy, Magic, Mili...
26773     114262  Action, Comedy, Historical, Parody, Samurai, S...
28159     673572                                 Sci-Fi, ThrillerTV
47442     151266  Action, Comedy, Historical, Parody, Samurai, S...
...          ...                                                ...
7813710      211                                          HentaiOVA
7813714      183                                          HentaiOVA
7813718      219                                          HentaiOVA
7813721      175                                          HentaiOVA
7813725      142                                        HentaiMovie

[11197 rows x 7 columns]>

In [79]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [95]:
from sklearn.metrics.pairwise import cosine_similarity

In [96]:
new.head()

,anime_id,name,genre,type,episodes,members,tags
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,"Drama, Romance, School, SupernaturalMovie"
2199,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,793665,"Action, Adventure, Drama, Fantasy, Magic, Mili..."
26773,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,114262,"Action, Comedy, Historical, Parody, Samurai, S..."
28159,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,673572,"Sci-Fi, ThrillerTV"
47442,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,151266,"Action, Comedy, Historical, Parody, Samurai, S..."

In [97]:
cf=new['genre']+ ' ' + new['type']

In [98]:
cf

0                 Drama, Romance, School, Supernatural Movie
2199       Action, Adventure, Drama, Fantasy, Magic, Mili...
26773      Action, Comedy, Historical, Parody, Samurai, S...
28159                                    Sci-Fi, Thriller TV
47442      Action, Comedy, Historical, Parody, Samurai, S...
                                 ...
7813710                                           Hentai OVA
7813714                                           Hentai OVA
7813718                                           Hentai OVA
7813721                                           Hentai OVA
7813725                                         Hentai Movie
Length: 11197, dtype: object

In [105]:
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
v=TfidfVectorizer()

In [113]:
# fv=vectorizer.fit_transform(cf).values.astype('U')
a=v.fit_transform(cf.values.astype('U'))

In [114]:
print(a)

  (0, 24)	0.38883200649480165
  (0, 47)	0.5030964489305969
  (0, 37)	0.4794597500693971
  (0, 35)	0.4468202614818207
  (0, 8)	0.4076440062007025
  (1, 49)	0.25557797944790656
  (1, 41)	0.3367389428706585
  (1, 23)	0.5021441705881331
  (1, 20)	0.4378858887209632
  (1, 10)	0.31138595748430803
  (1, 1)	0.30651150726390197
  (1, 0)	0.2830898347649508
  (1, 8)	0.3261036461437218
  (2, 11)	0.27343072983884414
  (2, 38)	0.27343072983884414
  (2, 36)	0.5366893341799613
  (2, 31)	0.43884277054295
  (2, 15)	0.374860293785748
  (2, 5)	0.19657072780709114
  (2, 49)	0.21936313614610894
  (2, 41)	0.28902376773695915
  (2, 0)	0.24297662145725227
  (3, 48)	0.798043759551042
  (3, 11)	0.3706200183521941
  (3, 38)	0.3706200183521941
  :	:
  (11185, 28)	0.4719489222276652
  (11185, 42)	0.4719489222276652
  (11185, 30)	0.32651718677377906
  (11186, 14)	0.8238169650001251
  (11186, 30)	0.5668558971890323
  (11187, 14)	0.8238169650001251
  (11187, 30)	0.5668558971890323
  (11188, 14)	0.8238169650001251
  (11188, 30)	0.5668558971890323
  (11189, 14)	0.8238169650001251
  (11189, 30)	0.5668558971890323
  (11190, 14)	0.8238169650001251
  (11190, 30)	0.5668558971890323
  (11191, 14)	0.8238169650001251
  (11191, 30)	0.5668558971890323
  (11192, 14)	0.8238169650001251
  (11192, 30)	0.5668558971890323
  (11193, 14)	0.8238169650001251
  (11193, 30)	0.5668558971890323
  (11194, 14)	0.8238169650001251
  (11194, 30)	0.5668558971890323
  (11195, 14)	0.8238169650001251
  (11195, 30)	0.5668558971890323
  (11196, 14)	0.7800180561220801
  (11196, 24)	0.6257570072508428

In [115]:
similarity = cosine_similarity(a)

In [116]:
print(similarity)

[[1.         0.1329342  0.         ... 0.         0.         0.24331435]
 [0.1329342  1.         0.22217416 ... 0.         0.         0.        ]
 [0.         0.22217416 1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         1.         0.64259211]
 [0.         0.         0.         ... 1.         1.         0.64259211]
 [0.24331435 0.         0.         ... 0.64259211 0.64259211 1.        ]]

In [117]:
print(similarity.shape)

(11197, 11197)

In [ ]:
# getting the movie name from the user

movie_name = input(' Enter your favourite movie name : ')

In [ ]:
list_of_all_titles = new['name'].tolist()
print(list_of_all_titles)

In [ ]:
find_close_match = difflib.get_close_matches(movie_name, list_of_all_titles)
print(find_close_match)