In [1]:
import pandas as pd 
import tkinter as tk
import warnings
warnings.filterwarnings('ignore')                     
import numpy as np

In [2]:
anime=pd.read_csv('C:/Users/roshn/Downloads/Codeclause_2/anime.csv')
ratings=pd.read_csv('C:/Users/roshn/Downloads/Codeclause_2/rating.csv')

In [3]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
anime.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [5]:
ratings.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [6]:
ratings.describe()

            user_id      anime_id        rating
count  7.813737e+06  7.813737e+06  7.813737e+06
mean   3.672796e+04  8.909072e+03  6.144030e+00
std    2.099795e+04  8.883950e+03  3.727800e+00
min    1.000000e+00  1.000000e+00 -1.000000e+00
25%    1.897400e+04  1.240000e+03  6.000000e+00
50%    3.679100e+04  6.213000e+03  7.000000e+00
75%    5.475700e+04  1.409300e+04  9.000000e+00
max    7.351600e+04  3.451900e+04  1.000000e+01

In [7]:
anime.shape

(12294, 7)

In [8]:
movies = anime.merge(ratings,on='anime_id')

In [9]:
movies.head(1)

,anime_id,name,genre,type,episodes,rating_x,members,user_id,rating_y
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5

In [10]:
movies.shape

(7813727, 9)

In [11]:
new = movies.drop(columns=['rating_x','user_id', 'rating_y'])
type(new)

pandas.core.frame.DataFrame

In [12]:
new.head(5)

,anime_id,name,genre,type,episodes,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630

In [13]:
new=new.drop_duplicates()
new.head

<bound method NDFrame.head of          anime_id                                               name  \
0           32281                                     Kimi no Na wa.
2199         5114                   Fullmetal Alchemist: Brotherhood
26773       28977                                           Gintama°
28159        9253                                        Steins;Gate
47442        9969                                      Gintama&#039;
...           ...                                                ...
7813710      9316       Toushindai My Lover: Minami tai Mecha-Minami
7813714      5543                                        Under World
7813718      5621                     Violence Gekiga David no Hoshi
7813721      6133  Violence Gekiga Shin David no Hoshi: Inma Dens...
7813725     26081                   Yasuji no Pornorama: Yacchimae!!

                                                     genre   type episodes  \
0                     Drama, Romance, School, Supernatural  Movie        1
2199     Action, Adventure, Drama, Fantasy, Magic, Mili...     TV       64
26773    Action, Comedy, Historical, Parody, Samurai, S...     TV       51
28159                                     Sci-Fi, Thriller     TV       24
47442    Action, Comedy, Historical, Parody, Samurai, S...     TV       51
...                                                    ...    ...      ...
7813710                                             Hentai    OVA        1
7813714                                             Hentai    OVA        1
7813718                                             Hentai    OVA        4
7813721                                             Hentai    OVA        1
7813725                                             Hentai  Movie        1

         members
0         200630
2199      793665
26773     114262
28159     673572
47442     151266
...          ...
7813710      211
7813714      183
7813718      219
7813721      175
7813725      142

[11197 rows x 6 columns]>

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

In [53]:
new["name"]

0                                             Kimi no Na wa.
2199                        Fullmetal Alchemist: Brotherhood
26773                                               Gintama°
28159                                            Steins;Gate
47442                                          Gintama&#039;
                                 ...
7813710         Toushindai My Lover: Minami tai Mecha-Minami
7813714                                          Under World
7813718                       Violence Gekiga David no Hoshi
7813721    Violence Gekiga Shin David no Hoshi: Inma Dens...
7813725                     Yasuji no Pornorama: Yacchimae!!
Name: name, Length: 11197, dtype: object

In [46]:
cf=new['genre']

In [47]:
cf

0                       Drama, Romance, School, Supernatural
2199       Action, Adventure, Drama, Fantasy, Magic, Mili...
26773      Action, Comedy, Historical, Parody, Samurai, S...
28159                                       Sci-Fi, Thriller
47442      Action, Comedy, Historical, Parody, Samurai, S...
                                 ...
7813710                                               Hentai
7813714                                               Hentai
7813718                                               Hentai
7813721                                               Hentai
7813725                                               Hentai
Name: genre, Length: 11197, dtype: object

In [54]:
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
v=TfidfVectorizer()

In [55]:
# fv=vectorizer.fit_transform(cf).values.astype('U')
a=v.fit_transform(cf.values.astype('U'))

In [56]:
print(a)

  (0, 43)	0.5460672017311335
  (0, 34)	0.5204116320431881
  (0, 32)	0.48498432136182823
  (0, 8)	0.4424619220462729
  (1, 38)	0.3483067518916656
  (1, 23)	0.5193940550738924
  (1, 20)	0.45292834353933475
  (1, 10)	0.32208282924287224
  (1, 1)	0.3170409296958413
  (1, 0)	0.2928146652714338
  (1, 8)	0.3373061066238974
  (2, 11)	0.2802132574361544
  (2, 35)	0.2802132574361544
  (2, 33)	0.550103614759842
  (2, 28)	0.44981142536727226
  (2, 15)	0.38422973871198607
  (2, 5)	0.20148391450312392
  (2, 38)	0.2962477717701337
  (2, 0)	0.24904970017710273
  (3, 44)	0.83539082878924
  (3, 11)	0.38866577105195843
  (3, 35)	0.38866577105195843
  (4, 11)	0.2802132574361544
  (4, 35)	0.2802132574361544
  (4, 33)	0.550103614759842
  :	:
  (11180, 14)	0.569086868492917
  (11180, 28)	0.7504327243344232
  (11180, 5)	0.3361411345803143
  (11181, 14)	0.569086868492917
  (11181, 28)	0.7504327243344232
  (11181, 5)	0.3361411345803143
  (11182, 14)	1.0
  (11183, 14)	1.0
  (11184, 14)	0.8610176090399709
  (11184, 5)	0.5085751438313633
  (11185, 14)	0.5020470376613977
  (11185, 19)	0.49931578918069314
  (11185, 27)	0.49931578918069314
  (11185, 39)	0.49931578918069314
  (11186, 14)	1.0
  (11187, 14)	1.0
  (11188, 14)	1.0
  (11189, 14)	1.0
  (11190, 14)	1.0
  (11191, 14)	1.0
  (11192, 14)	1.0
  (11193, 14)	1.0
  (11194, 14)	1.0
  (11195, 14)	1.0
  (11196, 14)	1.0

In [57]:
similarity = cosine_similarity(a)

In [58]:
print(similarity)

[[1.         0.14924511 0.         ... 0.         0.         0.        ]
 [0.14924511 1.         0.1761105  ... 0.         0.         0.        ]
 [0.         0.1761105  1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         1.         1.        ]
 [0.         0.         0.         ... 1.         1.         1.        ]
 [0.         0.         0.         ... 1.         1.         1.        ]]

In [59]:
print(similarity.shape)

(11197, 11197)

In [63]:
# getting the movie name from the user
# Import Module
from tkinter import *
 
# create root window
root = Tk()
 
# root window title and dimension
root.title("Welcome to GeekForGeeks")
movie_name = input(' Enter your favourite movie name : ')
# Set geometry (widthxheight)
root.geometry('350x200')
 
# all widgets will be here
# Execute Tkinter
root.mainloop()

 Enter your favourite movie name : Your name

In [61]:
list_of_all_titles = new['name'].tolist()

In [62]:
find_close_match = difflib.get_close_matches(movie_name, list_of_all_titles)
print(find_close_match)

['Under World', 'Accel World', 'Meisou! Underworld']